html {
	font-family: 'Roboto', sans-serif;
}

body {
	margin: 0;
	padding: 0;
}

div.content {
	padding: 1em;
}

div.debugbar {
	position: relative;
	bottom: 0;
	left: 0;
	right: 0;
	height: 200px;
	background-color: pink;
	border: 1px solid silver;
}

div.debugbar .col {
	width: 24%;
	float: left;
	margin-right: 1%;
	font-size: 8pt;
	overflow-y: scroll;
	height: 200px;
}

div.debugbar .col:first-child {
	width: 49%;
}

div.debugbar .col p {
	margin: 0;
	padding: 0;
}

.loginform label {
    display:inline-block;
    width: 100px;
}

.topbar {
	width: 100%-10px;
	height: 21px;
	color: white;
	background-color: black;
	padding: 5px;
}

.errors {
	color: #D8000C;
	background-color: #FFBABA;
	margin: 10px 0;
	padding: 12px;
}

.topbar span a {
	color: white;
}

table.roostertabel {
    border-collapse: collapse;
    font-family: Roboto;
    font-size: 8pt;
    horiz-align: center;
}

table.roostertabel tr td {
    width: 32px;
    border: 1px solid silver;
}

table.roostertabel tr th {
	width: 32px;
    color: black;
}

table.roostertabel tr th.coldocent {

}

table.roostertabel tr td.nr, table.roostertabel tr td.tijd {
    color: darkgray;
}

table.roostertabel tr td.separator {
    color: darkgray;
    background-color: lightgrey;
    width: 20px;
}

table.roostertabel tr.separator td{
	color: darkgray;
	background-color: lightgrey;
	height: 12px;
}

table.roostertabel tr td.bpv {
    color: darkgray;
    background-color: lightblue;
}

.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;

	/* Position the tooltip */
	position: absolute;
	z-index: 1;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}
